* {
    border-style: solid;
    border-width: 0.5px;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.search-container{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}
#search{
    width: 100%;
}
.colaVenta{
    font-size: 5vw;
}
.navBar {
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
height: 70%;
}
footer{
    height: 10%;
}

.contenedor {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
}
.contenedorForm{
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    width: 100%;
    
}
.contenedorCreadors{
    display: flex;
    justify-content: space-around;
}
.match{
text-align: center;
}
.filters{
    display: flex;
    justify-content: space-around;
}
.resultadosBusqued{
    display: flex;
flex-direction: column;
}
#formHeader{
    width: 100%;
}
#btnBuscar{
    text-align: center;
    background-color: grey
}